*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #333;
    color: azure;
    padding: 20px;
}

.container h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: .3em;
}

.boxes{
    margin-top: 10px;
    border: 2px solid #ccc;
    padding: 12px;


    display: flex;
    /* flex-flow: row wrap; */
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;


    /** Flex children  */
    /* order: 1; */
    /* flex-grow: 1; */


    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-flow: column wrap; */
    /* flex-flow: column-reverse wrap; */
    /* flex-flow: column nowrap;
    flex-flow: column-reverse nowrap; */
    /* flex-flow: row wrap; */
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-items: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: stretch; */
}




.box{
    border: 1px solid #ccc;
    margin: 10px
    flex-grow: 1;
}

.box-1{
    border: 3px solid #e35513;
    background-color: #fff;
    /* width: 200px;
    height: 150px; */
    width: 100px;
    height: 50px;
    /* flex-grow: 1; */
    
}

.box-2{
    border: 3px inset #ebebeb;
    background-color: #863232;
    /* width: 200px;
    height: 150px;
     */
     width: 100px;
     height: 50px;
}

.box-3{
    border: 3px outset #e0ae09;
    background-color: #092347;
    width: 100px;
    height: 50px;
    
}

.box-4{
    border: 3px groove #000000;
    background-color: #cf4900;
    width: 100px;
    height: 50px;
    
}