@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    padding:10%;
    font-size: 1.4rem;
    font-family: "Lora", serif;

    background-color: bisque;
}

a{
    text-decoration: none;
    color: blueviolet;
}

a:hover{
    color: #333;
}

.my_btn{
    /* border: 2px solid #390404; */

    margin: 12px;
    padding: 21px;

    text-align: justify;
    color: #333;
    text-transform: capitalize;
    font-weight: 670;

}

.my_btn:hover{
    background: #333;
    color: wheat;


    /* border: 1.4px solid #eee; */
    border-radius: 14px;

}

/* @media (screen and (max-width: 768px)) {
    .my_btn{
        margin: 6px;
        padding: ;
    }
    
} */







