/** css measurement units */

/* html{
    font-size: 16px;
} */

/* header{
    width: 80%;
} */
/** rem : unit used for font-size  */


h1{
    border: 2px dashed red;
    width: 50%;
}

/* main{
    font-size: 2rem;
} */

p{
    font-size: 2em;
}



















/* h1{
    border: 2px dashed red;
    width: 50%; */

    /* font-size: 1rem;     /**  already the default value of font in the browser */  */
/* } */


/* style table  */
/* .table{
    border: 1px solid #444;
    border-spacing: 111px;

    background-color: #444;
    color: wheat;
    border-radius: 12px;
    padding: 18px;

} */

/* .table_tbl{
    /* style table?? */
    /* display: block;
    margin: 4px;
    padding: 20px;
    width: auto;
    height: auto;
    overflow: hidden;
    font-family: Arial, sans-serif; */
/* } */ 

/* .table_tbl tr th{
    /* border: 1px solid whitesmoke; */
    /* border-bottom: 3px solid #fe3b00;
    border-radius: 12px;

    width: auto;
    text-align: left;

    padding: 8px;
    padding-bottom: 12px; */

/* } */ 

/* .table_tbl tr td{
    border-bottom: 1px solid whitesmoke;
    /* border-spacing: 111px; */
    /* border-radius: 22px; */ 

    /* border: none; */
    /* text-align: center;
    padding: 12px;

} */